<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form  action="/newteam" method="POST">
     <></label>

   </form>
 </body>
</html>
