<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a BasketBall Team!</h1>
   <form  action="/newteam" method="POST">
     <p>Team Name:<input type="text" name="name" value="team_name"></p>
     <p>Coach:<input type="text" name="name" value="coach"></p>
     <p>Point Guard:<input type="text" name="name" value="point_guard"></p>
     <p>Shooting Guard:<input type="text" name="name" value="shooting_guard"></p>
     <p>Small Forward:<input type="text" name="name" value="small_forward"></p>
     <p>Power Forward<input type="text" name="name" value="power_forward"></p>
     <p>Center:<input type="text" name="name" value="center"></p>
   </form>
 </body>
</html>
