<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a BasketBall Team!</h1>
   <form  action="/newteam" method="POST">
     <input type="text" name="name" value="team_name">
     <input type="text" name="name" value="coach">
     <input type="text" name="name" value="point_guard">
     <input type="text" name="name" value="shooting_guard">
     <input type="text" name="name" value="small_forward">
     <input type="text" name="name" value="power_forward">
     <input type="text" name="name" value="center">
   </form>
 </body>
</html>
